.aboutus-page {
    .header {
      margin-top: 90px;
      text-align: center;
      background-color: rgba(248, 239, 219, 0.435);
      padding: 2rem;
      margin-bottom: 1.5rem;
  
      @media (max-width: 768px) {
        padding: 1rem;
      }
    }
  
    .headertitle {
      font-size: 2rem;
      font-weight: bold;
      color: #97500e;
      margin-bottom: 1rem;
  
      @media (max-width: 768px) {
        font-size: 1.5rem;
      }
    }
  
    .sectiontitle {
      font-size: 1.5rem;
      font-weight: bold;
      color: #0c3054;
      margin-bottom: 1rem;
  
      @media (max-width: 768px) {
        font-size: 1.25rem;
      }
    }
  
    .sectiontext {
      font-size: 1.1rem;
      line-height: 1.6;
      color: #333;
  
      @media (max-width: 768px) {
        font-size: 1rem;
      }
    }
  
    .call-to-action {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(77, 92, 110, 0.905);
      padding: 1.5rem;
  
      h3 {
        color: #ff9800;
        font-size: 2rem;
        margin-bottom: 1rem;
  
        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
      }
  
      p {
        font-size: 1.1rem;
        color: #555;
        margin-bottom: 2rem;
  
        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }
  
      button {
        background-color: #0c3054;
        border-radius: 50px;
        padding: 10px 20px;
        font-size: 1.2rem;
  
        @media (max-width: 768px) {
          font-size: 1rem;
          padding: 8px 16px;
        }
  
        &:hover {
          background-color: #2635a9;
        }
      }
    }
  
    .btn {
      background: linear-gradient(135deg, rgba(235, 183, 26, 0.9), rgba(241, 228, 162, 0.78));
      color: #fff;
      padding: 0.8rem 2rem;
      border-radius: 8px;
      font-weight: 600;
      box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
      margin-bottom: 0.3rem;
      display: flex;
      align-items: center;
      background-color: rgba(213, 208, 238, 0.362);
      border: 2px solid rgba(184, 51, 51, 0.335);
  
      &:hover {
        background: linear-gradient(135deg, rgba(255, 193, 7, 0.9), rgba(255, 236, 179, 0.9));
        color: #4a2a2a;
        box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.15);
      }
  
      &:active {
        transform: translateY(0);
        box-shadow: none;
      }
  
      @media (max-width: 768px) {
        font-size: 0.9rem;
        padding: 0.5rem 1.5rem;
      }
    }
  }
  