@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;@500;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "Sans-serif";
}

.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.3rem;
}

.message {
  display: none;
}


