.sidebar {
  $primary-color: #f7b747;
  $secondary-color: #f0f41b;
  $hover-bg-color: rgba(226, 242, 247, 0.5);
  $sidebar-bg-color: #343a40;
  $nav-link-hover-color: #f5f7fa;
  $icon-color: #f3f9fa;
  $icon-hover-color: #c6d0d7;
  $hover-text-color: $sidebar-bg-color;  

  width: 260px;
  height: 100vh;
  background-color: $sidebar-bg-color;
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-5%);
  z-index: 1000;

  &.open {
    transform: translateX(0);
  }

  &.closed{
    width: 80px;
    padding: 0;
    align-items: center;
  }

  .logoContainer {  
    padding: 0;
    text-align: center;
    cursor: pointer;
    
    .logo {
      padding: 0;
      width: 260px;
      height: 90px;
      transition: width 0.3s ease;
    }

    .smallLogo {
      width: 80px; 
      height: auto;
      transition: width 0.3s ease;
    }
  }

  .nav {
    flex-direction: column;
    padding: 0rem;
    font-weight: 550px;

    .navItem {
      margin-top: 0px;
      padding: 1px;
      
      .navLink {
        color: white;
        width: 100%;
        font-weight: 550;
        display: flex;
        align-items: center;
        padding: 10px;
        background-color: $sidebar-bg-color; 
        transition: background-color 0.3s, color 0.3s;

      

       .ii {
          width: auto;
          margin-right: 10px;
          color: $icon-color;

          &:hover {
            color: white;
          }
        }

        .label{
          width: auto;
          font-weight: 550;
          align-items: center;
          white-space: nowrap; 

          &:hover {
            color: white;
          }
        }

        &:hover {
          background-color: $primary-color; 
          color: $sidebar-bg-color;
          font-weight: 600; 

          .ii {
            color: $sidebar-bg-color;
        }
        .label {
          color: $sidebar-bg-color; 
      }

      &.closed .label{
        display: none;

      }

      &.closed .ii{
        margin-right: 0;
      }

      .dropdownMenu {
        background-color: $hover-bg-color;
        list-style: none;
        padding-left: 20px;

        .dropdownItem {
          color: $icon-color;
          display: block;
          padding: 5px 15px;
          transition: color 0.3s, font-weight 0.3s;
          

          &:hover {

            color:$sidebar-bg-color;
            font-weight: 600;
            background-color: #f9f7f4;
          }
        }
        
      
      
  }
  }
}
} 
}

    
  
  
  

  
.logout {
  position: relative; 
  bottom: 6px;
  width: 100%;  
  font-weight: 700px;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: $sidebar-bg-color;
  transition: background-color 0.3s, color 0.3s;

  
  .icon {
    color: #f5f7fa;
    margin-right:4px;
    padding: 0;
    align-items: center;
    
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: $hover-text-color;
      background-color: #f6f6f7;
    }
  }

  &.closed .icon{
    width: 80%;
    margin-right: 0;
    align-items: baseline;
  }

 
  .lolabel {
    width: 100%;
    font-weight: 650;
    align-items: center;
    color: #f4f6f9;
    border-radius: 40px;
    transition: color 0.3s, 
    background-color 0.3s;

    &:hover {
      color: $hover-text-color;
      background-color: #f6aa47;
    }
  }

  &.closed .lolabel{
    display: none;
    
  }

  
  &:hover {
    background-color: $primary-color;  
    color: $hover-text-color;  

    .icon, .lolabel {
      color: $hover-text-color;  
    }
  }
}
}

@media (max-width: 768px) {
.sidebar {
  transform: translateX(-70%);
  &.open {
    transform: translateX(0);
  }
}
}