.footer {
  width: 100%;
  bottom: 0;
  position: relative;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #1a1a2e;
}
.footer .secContent {
  width: 100%;
  height: auto;
  padding: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  row-gap: 2rem;
  z-index: 1;
}
.footer .contactDiv {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  flex-direction: row;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #252548;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.footer .text small {
  font-size: 14px;
  font-weight: 450;
  color: #f2b10c;
}
.footer .text h2 {
  color: #f2870c;
  font-size: 1.8rem;
  font-weight: 800;
}
.footer .inputDiv {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
.footer .inputDiv input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 2rem;
  border: 1px solid #f5ef7b;
  outline: none;
  background-color: #b1b09a;
}
.footer .inputDiv input::-moz-placeholder {
  color: #2c2b14;
  opacity: 0.6;
}
.footer .inputDiv input::placeholder {
  color: #2c2b14;
  opacity: 0.6;
}
.footer .inputDiv .btn {
  width: 50%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  background-color: #636313;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  gap: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}
.footer .inputDiv .btn:hover {
  background-color: #f2870c;
  color: #ffffff;
}
.footer .inputDiv .btn .icon {
  font-size: 18px;
}
.footer .footerCard {
  position: relative;
  padding: 1rem 1rem 3rem;
  gap: 2rem;
  border-radius: 1rem;
  background-color: rgba(238, 147, 43, 0.6588235294);
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.footer .footerCard .footerIntro {
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 0.5rem;
}
.footer .footerCard .logoDiv .logo {
  font-size: 25px;
  color: #f2870c;
  padding: 2px;
  margin: 2px;
}
.footer .footerCard .footerParagraph {
  font-size: 16px;
  font-weight: 650;
  font-family: Arial, sans-serif;
  margin: 5px;
  color: #f2e4f7;
}
.footer .footerCard .footerSocials {
  -moz-column-gap: 0.8rem;
       column-gap: 0.8rem;
  border-bottom: 40px;
}
.footer .footerCard .footerSocials .icon {
  color: #f4cfc5;
  margin: 10px;
}
.footer .footerCard .footerSocials .icon:hover {
  color: #f4690c;
  font-weight: 900;
}
.footer .footerLinks {
  display: grid;
  width: 100%;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  background-color: rgba(89, 20, 58, 0.8392156863);
  border-radius: 30px;
  padding: 5px 5px 5px 10px;
}
.footer .footerLinks .linkGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footerLinks .linkGroup .groupTitle {
  font-size: 18px;
  font-weight: 700;
  color: #f2dfcb;
  margin-bottom: 0.5rem;
}
.footer .footerLinks .linkGroup ul {
  list-style-type: none;
  padding: 0;
}
.footer .footerLinks .linkGroup ul li {
  font-size: 14px;
  color: #f2dfcb;
  display: flex;
  align-items: center;
}
.footer .footerLinks .linkGroup ul li .icon {
  margin-right: 0.5rem;
  font-size: 16px;
}
.footer .footerList {
  font-size: 14px;
  width: 100%;
  font-weight: normal;
  color: #f5c58e;
  transition: all 0.3s ease-in-out;
}
.footer .footerList:hover {
  color: #f40c56;
  font-weight: bold;
  transform: translateX(7px);
}
.footer .footerDiv {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #2c2b14;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}
.footer .footerDiv small {
  font-size: 12px;
  color: #ccc;
}/*# sourceMappingURL=footer.module.css.map */