/* Landing.module.scss */
$max-video-width: 900px;
$secondary-color: #1e272e; 
$primary-color: #ebf525;
$overlay-color: rgba(38, 43, 58, 0.4);
$box-shadow: 0 8px 16px rgba(228, 149, 11, 0.522);
$bg-overlay: rgba(121, 133, 164, 0.594);
$card-bg: rgba(139, 118, 182, 0.46);

.landingPage {
  
  

  section .body {
    position: relative;
    font-family: 'Arial', sans-serif;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  video {
    position: absolute;
    top: 90px;
    left: 0; 
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(70%);

  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(102, 116, 138, 0.6);
    z-index: 1;
    mix-blend-mode: hard-light;
  }

  .homeContent {
    position: relative;
    top: 40px;
    z-index: 2;
    text-align: center;
    margin-top: 2rem;
    color: #fff;
    justify-content: center;

    .textDiv {
      margin-bottom: 1rem 0;

      .smallText {
        font-size: 1rem;
        color: $primary-color;
        font-weight: 600;
        text-transform: uppercase;
      }

      .homeTitle {
        font-size: 3rem;
        font-weight: 750;
        margin: 1rem 0;
        color: #fff;
        letter-spacing: 1px;
      }
    }
  }

  .cardDiv {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Improved for responsiveness
    gap: 1rem;
    margin-top: 50rem;

    margin: 1rem;
    background: $bg-overlay;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: $box-shadow;

    .input {
      display: flex;
      align-items: center;
      background-color: rgba(213, 208, 238, 0.362);
      padding: 0.4rem;
      border-radius: 30px;
      border: 2px solid rgba(184, 51, 51, 0.335);

      input {
        flex: 1;
        background: transparent;
        border: none;
        outline: none;
        padding: 0.3rem;
        color: rgb(7, 75, 112);
        font-size: 0.9rem;

        &::placeholder {
          font-size: 14px;
          color: #3d20208a;
        }
      }

      .icon {
        font-size: 1.3rem;
        color: #f2e03fc7;
        transition: color 0.3s;

        &:hover {
          color: $secondary-color;
        }
      
      }
    }

    label {
      font-size: 0.9rem;
      margin-bottom: 0.3rem;
      color: #f1d767;
      font-weight: 600;
    }

    h3.total {
      font-size: 1.8rem;
      color: #ffeb3b;
      font-weight: 600;
    }

    .companyInput,
    .emailInput,
    .positionInput {
      display: flex;
      flex-direction: column;
    }

    input[type='range'] {
      width: 100%;
      background: #863939;

    }
  }


}



@media (min-width: 1200px) {

  .landingPage {

    section .body {
      position: relative;
      height: 100%;
      width: 100%;
      background-color: #f5f5f5;
      display: flex;
      align-items: center;
      justify-content: center; 
      overflow: hidden;
    }

  
    .overlay {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      background: $overlay-color;
      mix-blend-mode: hard-light;
      
    }

  
    video {
      position: absolute;
      top:90px;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit:fill; 
      z-index: -1;
      filter: brightness(80%);
    }

  
  
    .homeContent {
      position: relative;
      width: 60%;
      top: 4px; 
      z-index: 2;
      padding: 1rem;
      text-align: center;
      margin-top: 4rem; 
      color: white;

      .textDiv {
        margin-top: 3rem;
        margin-bottom: 5rem;

        .smallText {
          font-size: 2rem;
          color: #fbae1f;
          font-weight: 600;
          text-transform: uppercase;
        }

        .homeTitle {
          font-size: 4rem;
          font-weight: 750;
          margin: 1rem 0;
          color: #fff;
          letter-spacing: 1.5px;
        }
      }
    }

    .cardDiv {
      display: flex;
      flex-direction: column;
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
      gap: 1rem;
      width: 700px;
      margin: 1rem auto;
      background: $bg-overlay;
      border-radius: 5px;
      padding: 1rem;
      box-shadow: $box-shadow; 
      
      .input {
        display: flex;
        align-items: center;
        background-color: rgba(213, 208, 238, 0.362);
        padding: .5rem; 
        border-radius: 20px;
        border: 2px solid rgba(184, 51, 51, 0.335);

        input {
          flex: 1;
          background: transparent;
          border: none;
          outline: none;
          padding: 2px; 
          color: rgb(221, 237, 246);
          font-size: 14px; 
          font-weight: 550;

          &::placeholder {
            font-size: 14px; 
            color: #2a15158a;
          }
        }

        .icon {
          font-size: 14px; 
          margin: 0 1rem;
          color: $primary-color;
          font-weight: 600;
          transition: color 0.3s;

          &:hover {
            color: $secondary-color;
          }
        }
      }

      label {
        display: block;
      color: #f2f754;
        font-size: 15px;
        font-weight: 700;
      }

      h3.total {
        font-size: 3rem;
      }

      .companyInput,
      .emailInput,
      .positionInput {
        display: flex;
        flex-direction: column;
      }


      .input[type=range] {
        background: #6c6969;
      }
    }

  }  
  
}  
    



