/* Landing.scss */
$max-video-width: 900px;
$secondary-color: #1e272e; 
$primary-color: #ebf525;
$overlay-color: rgba(38, 43, 58, 0.4);
$box-shadow: 0 8px 16px rgba(228, 149, 11, 0.522);
$bg-overlay: rgba(121, 133, 164, 0.594);
$card-bg: rgba(139, 118, 182, 0.46);

section .body {
 
  position: relative;
  font-family: 'Arial', sans-serif;
  width: 100%;
  background-color: #f5f5f5;
  display:flex;
  align-items: center;
  overflow: hidden;
}

video {
  position: absolute;
  top: 60px; // Changed to top to align video properly
  left: 0; // Added to align video
  width: 100%;
  height: 100%; 
  object-fit: cover;
  z-index: -1;
  filter: brightness(70%);

}

.overlay {
  position: absolute;
  top: 0px; 
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  mix-blend-mode: hard-light;
}

.homeContent {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-top: 8rem;
  color: #fff;
  justify-content: center;

  .textDiv {
    margin-bottom: 2rem 0;

    .smallText {
      font-size: 1rem;
      color: $primary-color;
      font-weight: 550;
      text-transform: uppercase;
    }

    .homeTitle {
      font-size: 2rem;
      font-weight: 700;
      margin: 1rem 0;
      color: #fff;
      letter-spacing: 1px;
    }
  }
}

.cardDiv {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); // Improved for responsiveness
  gap: 1rem;
  margin: 1rem;
  background: $bg-overlay;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: $box-shadow;

  .input {
    display: flex;
    align-items: center;
    background-color: rgba(213, 208, 238, 0.362);
    padding: 0.4rem;
    border-radius: 30px;
    border: 2px solid rgba(184, 51, 51, 0.335);

    input {
      flex: 1;
      background: transparent;
      border: none;
      outline: none;
      padding: 0.3rem;
      color: rgb(7, 75, 112);
      font-size: 0.9rem;

      &::placeholder {
        font-size: 14px;
        color: #3d20208a;
      }
    }

    .icon {
      font-size: 1.2rem;
      color: #ffeb3b;
      transition: color 0.3s;

      &:hover {
        color: $secondary-color;
      }
    
    }
  }

  label {
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    color: #f7e85add;
    font-weight: 550;
  }

  h3.total {
    font-size: 1.8rem;
    color: #ffeb3b;
    font-weight: 600;
  }

  .companyInput,
  .emailInput,
  .positionInput {
    display: flex;
    flex-direction: column;
  }

  input[type='range'] {
    width: 100%;
    background: #863939;

  }
}

.main{
  width: 100%;
  padding: 2rem;
  background-color: #f8f9fa;
  z-index: -1;

  
    .secTitle{
      text-align: center;
      margin-bottom: 2rem;

      .title{
        position: relative;
        width:100%;
        font-size: 2rem;
        font-weight: 700;
        color: #343a40;
        margin: 1.5rem 0;
        z-index: 2;

        &::after{
          position: absolute;
          background: #ffc107;
          height: 5px;
          width: 80px;
          transform: translateX(-50%);
          bottom: -5px;
          z-index: -1;
          
        }
      }
    }
  

    .Content{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      justify-content: center;
      gap: 2rem;

      .interviewOne{
        cursor: pointer;
        border-radius: 15px;
        background-color: $card-bg;
        box-shadow: $box-shadow;
        overflow: hidden;
        transition: box-shadow 0.3s ease, transform 0.3s ease;

        &:hover{
          background: #f1edb9;
          box-shadow: 1 4px 4px rgba(38, 43, 58, 0.4);
          transform: translateY(-5px);
        }

        .imageDiv{
          height:180px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 0.5s ease;
          }
  
          &:hover {
            img {
              transform: scale(1.1);
            }
          }
        }


        .cardDetails{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .name{
          color: rgba($color: #069006, $alpha: 1.0);
          font-size: 1.5rem;
          font-weight: 600;
          margin-bottom: 0.5rem;
        }

        .ContentDiv {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          color: #6c757d;
        

          .typeSes{
            font-size: 1.5rem;
            font-weight: 650;
            color: #bb6107;
          }

            svg{
              color: #17a2b8;
              margin-right: 1rem; 
            }
        }
        
        

          .timeDiv {
            display: flex;
            margin:0.5rem 0;
            border-top: 1.5px solid #1e272e;
            align-items: center;
            gap: 0.4rem;
            font-weight: 600;
            font-size: 0.875rem;
            color: #4f03b3;

            span{
              font-size:2rem;
              color: #f85c23;
            }
  
            svg {
              color: #6c757d;
              margin-right: 1rem;
            }
          }

          .dateDiv {
            display: flex;
            margin:1rem 0;
            border-top: 1.5px solid #1e272e;
            font-weight: 600;
            align-items: center;
            gap: 0.5rem;
            font-size: 0.875rem;
            color: #4f03b3;
            
            span{
              font-size: 1rem;
              color: rgb(45, 75, 250);
            }
  
            svg {
              color: #6c757d;
              margin-right: 1rem;
            }

          }
          .desc p{
            color: #495057;
            font-size: 0.95rem;
            line-height: 1.6;
            border-top: 1.7px solid #1e272e;
            
        }

        .btn {
          display: inline-flex;
          align-items: center;
          gap: 0.5rem;
          background-color: #9ac6f6;
          color: #fff;
          border: none;
          padding: 0.6rem 1rem;
          border-radius: 5px;
          font-size: 1rem;
          font-weight: 600;
          border-color: #cc3333;
          cursor: pointer;
          margin-top: 1rem;
          transition: background-color 0.3s ease, transform 0.3s ease;

          svg {
            color: #fff;
            margin-right: 0.10rem;
          }

          &:hover {
            background-color: darken($primary-color, 10%);
            transform: translateY(-3px);
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  section .body {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center; 
    overflow: hidden;
  }

  
  .overlay {
    position: absolute;
    top: 0;
    height: 110%;
    width: 100%;
    z-index: 1;
    background: $overlay-color;
    mix-blend-mode: hard-light;
    
  }

  
  video {
    position: absolute;
    top:90px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:fill; 
    z-index: -1;
    filter: brightness(80%);
  }

  
  .homeContent {
    position: relative;
    width: 60%;
    top:3px; 
    z-index: 2;
    padding: 2rem;
    text-align: center;
    margin-top: 5rem; 
    color: white;

    .textDiv {
      margin-bottom: 5rem;

      .smallText {
        font-size: 1rem;
        color: #fbae1f;
        font-weight: 700;
        text-transform: uppercase;
      }

      .homeTitle {
        font-size: 3rem;
        font-weight: 700;
        margin: 1rem 0;
        color: #fff;
        letter-spacing: 1.5px;
      }
    }
  }

  .cardDiv {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
    width: 700px;
    margin: 2rem auto;
    background: $bg-overlay;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: $box-shadow; 
    
    .input {
      display: flex;
      align-items: center;
      background-color: rgba(213, 208, 238, 0.362);
      padding: 1rem; /* Increased padding for large screens */
      border-radius: 20px;
      border: 2px solid rgba(184, 51, 51, 0.335);

      input {
        flex: 1;
        background: transparent;
        border: none;
        outline: none;
        padding: 2px; 
        color: rgb(221, 237, 246);
        font-size: 14px; 
        font-weight: 550;

        &::placeholder {
          font-size: 14px; 
          color: #2a15158a;
        }
      }

      .icon {
        font-size: 14px; 
        margin: 0 1rem;
        color: $primary-color;
        font-weight: 600;
        transition: color 0.3s;

        &:hover {
          color: $secondary-color;
        }
      }
    }

    label {
      display: block;
     color: #f2f754;
      font-size: 15px;
      font-weight: 700;
    }

    h3.total {
      font-size: 3rem;
    }

    .companyInput,
    .emailInput,
    .positionInput {
      display: flex;
      flex-direction: column;
    }


    .input[type=range] {
      background: #6c6969;
    }
  }

    
  

  
  .main {
    width: 80%; 
    margin: 0 auto;
    padding: 4rem;

    .secTitle {
      margin-bottom: 3rem;

      .title {
        font-size: 3rem;
      }
    }

    .Content {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ensures responsive grid */
      gap: 2.5rem;
    }

    .interviewOne {
      .imageDiv {
        height: 220px;
      }

      .cardDetails {
        padding: 2rem;

        .name {
          font-size: 2rem;
        }

        .ContentDiv {
          font-size: 1.8rem;
        }

        .timeDiv, .dateDiv {
          font-size: 1.2rem;
        }

        .desc p {
          font-size: 1.1rem;
        }

        .btn {
          padding: 0.8rem 2rem;
          font-size: 1.1rem;
        }
      }
    }
  }
}    
    
  


