.videoContainer {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;  
  }
  
  .contentOverlay {
    position: relative;
    z-index: 1;  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .contactContainer {
    background-color: rgba(207, 193, 193, 0.6);  // Adds semi-transparent background to form
    padding: 2rem;
    border-radius: 10px;
  }
  
  .contactFormInput, .contactFormTextarea {
    margin-bottom: 1rem;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }
  
  .contactFormButton {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contactFormButton:hover {
    background-color: #0056b3;
  }
  